.selectedLink {
  background-color: gainsboro;
}

.d-block {
  object-fit: fill;
  width: 500px;
  height: 400px;
}

.link {
  color: rgb(92, 89, 89);
}

.link:hover {
  color: rgb(8, 8, 8);
}

* {
  font-family: "Gruppo", cursive;
}

.brand {
  font-family: "Bellota", cursive;
}

.nav-link {
  color: rgb(92, 89, 89);
}

.nav-link:hover {
  color: rgb(8, 8, 8);
}

.allPosts {
  max-width: 600px;
}

/*
 * Sidebar
 */

.sidebar {
  position: absolute;
  left: 0;
  padding: 0;
  height: 100%;
  width: 300px;
}

.content {
  margin-left: 300px;
}

.wrapper {
  position: relative;
  height: 100%;
}
